*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html{
    font-size: 16px;
}
body{
    font-family: 'Poppins', sans-serif;
}
.container{
    max-width: 1380px;
    margin: 0 auto;
    padding: 0 10px;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
@media only screen and (max-width:992px){
    .container{
        max-width: 970px;
    }
}
@media only screen and (max-width:767px){
    .container{
        max-width:730px;
    }
}
@media only screen and (max-width:575px){
    .container{
        max-width: 550px;
    }
}
@media only screen and (max-width:320px){
    .container{
        max-width:290px;
        padding: 0 10px;
    }
}
