.skills{
    &__title{
        @include section-title;
        text-align: center;
    }
}
.skills-inner{
    display: flex;
    &__wrapper-2{
        display: flex;
    }
    &__one{
        background-color: #F5F5F5;
        border-radius: 10px;
        max-width: 435px;
        padding: 35px 22px 92px 22px;
    }
}