.skills {
    &__title {
        @include section-title;
        font-size: 30px;
        text-align: center;
    }
}
.skills-wrapper{
    display: flex;
}
.wrapper-2{
    display: flex;
}
@media only screen and (max-width:575px){
    .skills-wrapper,
    .wrapper-2,
    .cards-1,
    .cards-2{
        display: block;
        margin: 0 auto;
        max-width: 100%;
        width: 100%;
    }
    .cards-1{
        max-width: 100% !important;
        width: 100%;
    }
}
.cards-1{
  max-width:435px;
  margin-left: auto;
}
.cards-2{
    max-width:885px;
    margin-right: auto;
}
.skill-card{
    &__one{
        background-color: #F5F5F5;
        max-width: 435px;
        padding: 35px 0 92px 0;
        border-radius: 10px;
    }

    &__img{
        display: flex;
    }
    &__img-1{
        justify-content: center;
        max-width: 390px;
        max-height: 390px;
    }
    &__img-2{
        justify-content:flex-end;
        max-width:293px;
        max-height:293px;
    }
    &__img-3{
        max-width:371px;
        max-height:247px;
    }
    &__img-1 img{
        width: 100%;
    }
    &__img-2 img{
        width: 100%;
    }
    &__img-3 img{
        width: 100%;
    }
    &__info{
        padding-left:20px;
        padding-right:32px;
    }
    &__info-1{
        margin-top:18px;
    }
    &__title{
        @include section-title;
        font-size: 30px;
        color: #263238;
    }
    &__text{
        font-size: 16px;
        line-height: 24px;
        color: #8F95A5;
        max-width: 354px;
    }
    &__btn{
        font-size: 20px;
        line-height: 30px;
        display: inline-block;
        padding: 17px 63px;
        border-radius: 5px;
        margin-top: 36px;
        background-color: #263238;
        color: #fff;
    }
    &__two{
        background-color: #F5F5F5;
        border-radius: 10px;
        margin-right: 18px;
        margin-left: 18px;
        padding-bottom: 44px;
        width: 50%;
    }
    &__pic2{
        margin-left: auto;
        max-width: 293px;
        max-height: 293px;
    }
    &__title-2{
        margin-top: -42px;
    }
    &__three{
        background-color: #F5F5F5;
        border-radius: 10px;
        padding-bottom: 44px;
        width: 50%;
    }
    
    &__four{
        background-color: #F5F5F5;
        border-radius: 10px;
        display: flex;
        justify-content: space-between;
        flex-direction:row-reverse;
        max-width: 885px;
        padding:43px 0 44px 20px ;
        margin-left: 18px;
        margin-top: 20px;
    }
    &__img-4{
        max-width:382px;
    }
    &__img-4 img{
       width: 100%;
    }
    
    @media only screen and (max-width:1146px){
        &__info-1{
            margin-top:80px;
        }
        &__btn-3{
            margin-top:65px;
        }
    }
    @media only screen and (max-width:992px){
        &__one{
            padding-bottom: 52px;
        }
        &__two{
            margin: 0 13px;
            padding-bottom: 30px;
        }
        &__title{
            font-size: 22px;
        }
        &__title-3{
            margin-top:10px;
        }
        &__text{
            font-size: 14px;
            line-height: 21px;
        }
        &__btn{
            font-size: 18px;
            line-height: 27px;
            padding: 16px 42px;
        }
        &__three{
            padding-bottom: 32px;
        }
        &__four{
            padding-bottom: 34px;
            padding-top: 0;
        }
        &__img-3{
            margin-top: 16px;
        }
        &__info-1{
            margin-top:88px;
        }

    }
    @media only screen and (max-width:767px){
       &__one{
           padding-top: 31px;
           padding-bottom: 37px;
       }
       &__two,
       &__three,
       &__four{
           padding-bottom: 27px;
           align-items: center;
       }
       &__title{
           font-size: 20px;
       }
       &__text{
           font-size: 13px;
           line-height: 19px;
       }
       &__btn{
           font-size: 16px;
           line-height: 24px;
           padding: 13px 30px;
       }
       &__btn-3{
           margin-top:46px;
       }
       &__info-1{
        margin-top:100px;
    }
    &__img-4 img{
        width:100%;
        height: 50%;
    }

    }
    @media only screen and (max-width:660px){
        &__btn{
            padding: 13px 20px;
        }
    }
    @media only screen and (max-width:575px){
        &__one,
        &__two,
        &__three,
        &__four{
            margin: 0 auto;
            width: 100%;
            max-width: 100%;
        }
        &__four{
            flex-direction: column;
        }
        &__info-1{
            margin-top: 10px;
        }
        &__info-4,
        &__text-4{
            margin: 0;
        }
        &__info-4{
            padding: 0;
        }
        &__title{
            font-size: 18px;
        }
        &__one,
        &__two,
        &__three{
            margin-bottom: 20px;
        }
    }
}

